body {
  position: relative;
}

body::after {
  content: "";
  background-image: url("imgNRR/CricketLogo.png");
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  pointer-events: none;
}

.container {
  max-width: 960px;
}
/* .container {
  background-image: url(imgNRR/cricket_PNG121-removebg-preview.png);
  background-repeat: no-repeat;
} */
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.border-top-gray {
  border-top-color: #adb5bd;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-condensed {
  line-height: 1.25;
}
